.big-nemo {
  width: 500px;
  height: 500px;
  padding: 1px;
  border: 1px solid #000;
}

.small-nemo {
  width: 150px;
  height: 150px;
  border: 1px solid #000;
}


.big-nemo .nemo1 {
  position: relative;
  top: 50px;
  left : 50px;
}

.big-nemo .nemo2 {
  position: relative;
  top : -30px;
  left : 255px;
}

.big-nemo .nemo3 {
  position: relative;
  top: -10px;
  left : 50px;
}

/* .big-nemo .nemo4 {
  position: relative;
  top: -10px;
  left : 50px;
} */
